html, body {
    width: 100%;
    height: 100%;
    /*background-color: lightsalmon;*/
    padding: 0;
    margin: 0;
}

.container {
    /*background-color: lightpink;*/
    width: 100%;
    height: 100%;
}

.sidebar {
    float: left;
    /*display: inline-block;*/
    width: 200px;
    height: 100%;
    /*background: #ffaab2;*/
    /*overflow: auto;*/
}

.handle {
    float: left;
    width: 5px;
    height: 100%;
    background: #ddd;
    cursor: col-resize;
}

.content {
    margin-left: 210px;
    height: 100%;
    overflow: auto;
}

.drag-sidebar {
    cursor: col-resize;
}